{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module"
  },
  // for react to be more compatible
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  // needed to include ./index.js for the eslinter to properly work
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    // removes a rule that wants named exports but i don't think that is worth stressing over
    "import/prefer-default-export": "off",
    "import/no-default-export": "error"
  }
}
