{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
    // "babelOptions": {
    //   "parserOpts": {
    //     "plugins": ["jsx"]
    //   }
    // }
  },
  // for react to be more compatible
  "settings": {
    "react": {
      "version": "detect"
    },
    "ecmascript": "latest"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // these two rules are here because i could not find a valid solution for these errors
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    // proper quotes rule, should have checked not sure how to specify single only for jsx as that is how i set up my priettier
    "quotes": "off",
    // just incase quotes doesn't work and i am using jsx
    "jsx-quotes": "off",
    "arrow-body-style": ["warn", "as-needed"],
    "indent": "off",
    // i use prietter to format my code
    "object-curly-newline": "off",
    // this rule might be useful so I would rather keep as a warning for case by case basis since sometimes I can't use const like the error seems to think i can
    "prefer-const": "warn",
    "no-duplicate-imports": "warn"
  },
  "overrides": [
    {
      "files": ["test/*.spec.js"], // Or *.test.js
      "rules": {
        "require-jsdoc": "off"
      }
    }
  ]
}
