// ultities folder (originally default name is abstracts) is where all the variables, mixins, functions, they all go here

// here is where all the variables go, css variables are better than sass' version
:root{
  --bold-font: font-weight: 700;
  --color1: rgb(165, 230, 252);
  --color2: rgb(145, 207, 226);
  --text-color: rgb(2, 34, 65);
}
